#app {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.display {
    border: 2px solid black;
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    width: 20rem;
}

.arrows button {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
}

.arrows {
    display: grid;
    margin-bottom: 3rem;
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    ". up ."
    "left down right";
    gap: 5px;
}

.controller button {
    border-radius: 20px;
    border: none;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
}

#start {
    background-color: green;
}

#start:hover {
    transition: 200ms;
    background-color: greenyellow;
}

#stop {
    background-color: red;
}

#stop:hover {
    transition: 200ms;
    background-color: rgb(253, 67, 67);
}

#arrow-up { grid-area: up; }
#arrow-left { grid-area: left; }
#arrow-down { grid-area: down; }
#arrow-right { grid-area: right; }